<style>
  .header-frame {
      display: flex;
      align-items: center;
  }

  .image-frame {
      display: inline-block;
      background: url("../assets/images/logos/logo25.gif")
                  no-repeat center;
      width: calc(4vw + 4vh);
      height: calc(4vw + 4vh);
      background-size: cover;
  }

  .text-frame {
      font-size: calc(2.5vw + 2.5vh);
      display: inline-block;
      margin: 1vh 1vw;
  }    

</style>
<div class="header-frame">
  <span class="image-frame"></span>
  <h1 class="text-frame">gmac</h1>
</div>
<hr>
