<style>
.modal {
    visibility: hidden;
    background: black;
    
    border: 1px solid #888;
    position: fixed;
    z-index: 1;
    top: 100px;
    bottom: 100px;
    width: 85vw;
    overflow-y: scroll;

}

.close {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>

<a href="#" id="opennote">open note</a>

<div id="note" class="modal">
<div>
  <span><h3>note on point parameters</h3></span>
    <span class="close" style="padding: 1em;">&times;</span>
</div>
    <div style="padding: 1em">
            <p>different gmic commands expect different ranges of values for this pairing. pay close attention to the expected parameter values for each command, for example:</p>
            <pre><code class="gmacfx">light_relief 0.3,0.2,0.2,0,1,50%,50%,5,0.5,0</code></pre>
            <pre><code class="gmacfx">fx_light_relief 0.3,0.2,0.2,0,1,50%,50%,5,0.5,0,0</code></pre>
            <p><a href="https://gmic.eu/reference/light_relief.html">light_relief</a> is the built-in relief light command from gmic,</p>
            <p>and fx_light_relief is a community command that adds some extra swag to light_relief.</p>
            <p>the command parameter values are identical(apart from the extra 0 in fx_light_relief, which is a smoothing  parameter), but take a look at the outputs:</p>
            <img src="/assets/images/gmacfx/lr_fxlr.png" alt="&quot;lr-fxlr&quot;" />
            <p>it’s subtle, but take a closer look at the top-left corner of both images.</p>
            <img src="/assets/images/gmacfx/comparison.png" alt="comparison" />
            <p>light_relief sends the light at the center of the image correctly, while fx_light_relief does not.</p>
            <p>light_relief is expecting values ranging from 0-1, while fx_light_relief is expecting values ranging from 0-100.</p>
            <p>for point parameters ranging 0-100, send:</p>
            <pre><code class="gmacfx">point[default x, default y]</code></pre>
            <p>and for point parameters ranging 0-1, send:</p>
            <pre><code class="gmacfx">point[default x, default y]%</code></pre>
     </div>
</div>

<script>
// Get the modal
var modal = document.getElementById("note");

// Get the button that opens the modal
var btn = document.getElementById("opennote");

// Get the <span> element that closes the moda
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.visibility = "visible";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.visibility = "hidden";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
   modal.style.visibility = "hidden";
  }
}
</script>
