img {
    display: block;
    width: 90%;
    margin: auto;
}

pre code.gmacfx {
    font-family: "ProggyCleanSZ Nerd Font Mono";
    font-size: 16px;
    font-weight: normal;
    display: block;
    background: rgb(22, 22, 22);
    border: 1px solid rgb(42, 42, 42);
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.5em 0;
}

code.gmacfx .token-comment {
    color: rgb(127, 140, 152);
}

code.gmacfx .token-keyword-def {
    color: rgb(255, 122, 178);
}

code.gmacfx .token-type {
    color: rgb(172, 242, 228);
}

code.gmacfx .token-brackets {
    color: rgb(217, 201, 124);
}

code.gmacfx .token-braces-content {
    color: rgb(217, 201, 124);
}
