@font-face {
    font-family: 'System Font';
    src: url('/assets/fonts/SFNS-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ProggyCleanSZ Nerd Font Mono';
    src: url('/assets/fonts/ProggyCleanSZNFM.woff2') format('woff2');
}

hr {
    color: #3A3A3C;
    opacity: 0.5;
}

a {
    color: rgb(0, 153, 255);
    text-decoration: none;
}

blockquote {
    padding: 1em;
    background: rgb(22, 22, 22);
    border: 1px solid rgb(42, 42, 42);
    opacity: 80%;
    border-radius: 10px;
    width: 75%;
}

table {
    text-align: left;
    width: ;
}

body {
  max-width:80vw;
  margin: auto;
  color: white;
  background: black;

}

table {
    border-collapse: collapse;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}
img {

    padding: 1em;
    width: 100%;

}

p {
   display: block;
}

:is(h1, h2, h3, h4, h5, h6, body) {
    font-family: 'System Font';
    font-weight: 300;
}
