/* Font declarations */
@font-face {
    font-family: 'System Font';
    src: url('/assets/fonts/SFNS-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ProggyCleanSZ Nerd Font Mono';
    src: url('/assets/fonts/ProggyCleanSZNFM.woff2') format('woff2');
}

:root {
    --text-color: white;
    --bg-color: black;
    --accent-color:  rgb(0, 153, 255);
    --border-color: rgb(42, 42, 42);
    --hr-color: #3A3A3C;
    --main-font: 'System Font', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-weight: 300;
}

body {
    max-width: 90%;
    width: 60rem;
    margin: 0 auto;
    padding: 1em;
    color: var(--text-color);
    background: var(--bg-color);
    font-family: 'System Font', sans-serif;
}

h1, h2, h3 {
    font-family: 'System Font', sans-serif;
}

h1 {
    font-size: clamp(2.5rem, 5vw, 5rem);
}

h2 {
    font-size: clamp(2rem, 4vw, 3rem);
    margin-top: 0.5em;
}

h3 {
    font-size: clamp(1.5rem, 3vw, 2rem);
    margin-top: 1em;
}

p {
    display: block;
    line-height: 1.5;
    margin: 0.25em 0;
}

.subtext {
    opacity: 0.60;
    text-align: center;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

hr {
    color: var(--hr-color);
    opacity: 0.8;
    margin: 1.5rem 0;
    border: none;
    border-top: 1px solid var(--hr-color);
}

table {
    text-align: left;
    width: 100%;
    margin: 1rem 0;
    overflow-x: auto;
}

table th, table td {
    padding: 0 0.5em;
}

img {
    padding: 0.5em;
    max-width: 100%;
    height: auto;
    display: block;
}

code {
    font-family: 'ProggyCleanSZ Nerd Font Mono', monospace;
    overflow-x: auto;
}

/* mobile */
@media screen and (max-width: 480px) {
    body {
        padding: 0 0.75rem;
        max-width: 100%;
        width: 100%;
    }

    blockquote {
        max-width: 100%;
        padding: 0.75em;
    }

    img {
        padding: 0.25em;
    }

    pre.code.gmacfx {
        font-size: 14px;
        padding: 0.4em;
    }
}

/* tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
    /* html { */
    /*     font-size: 1em; */
    /* } */

    body {
        max-width: 95%;
    }

    blockquote {
        max-width: 90%;
    }
}

/* desktops */
@media screen and (min-width: 769px) and (max-width: 1200px) {
    body {
        max-width: 80%;
    }
}
