@font-face {
    font-family: 'System Font';
    src: url('/assets/fonts/SFNS-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ProggyCleanSZ Nerd Font Mono';
    src: url('/assets/fonts/ProggyCleanSZNFM.woff2') format('woff2');
}